@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #674baf;
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  body {
    height: 100vh;
    background-image: url("./images/bg-desktop.svg");
    background-position-y: center;
    background-size: contain;
  }
}
.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 300px;
  margin: 2rem 1.5rem;
  height: 100%;
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
    width: auto;
    margin: 3.3rem 4.5rem;
    max-width: 1296px;
  }
}
.container header img {
  width: 128px;
}
@media (min-width: 768px) {
  .container header img {
    width: 212px;
  }
}
.container main {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .container main {
    flex-direction: row;
    margin-top: 5rem;
  }
}
.container main img {
  width: 100%;
}
@media (min-width: 768px) {
  .container main img {
    width: 709px;
  }
}
.container main div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .container main div:last-of-type {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.3rem;
  }
}
.container main h1,
.container main p {
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  .container main h1,
  .container main p {
    text-align: left;
  }
}
.container main h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-top: 3.5rem;
}
@media (min-width: 768px) {
  .container main h1 {
    font-size: 40px;
    margin-top: 2.8rem;
  }
}
.container main p {
  margin-top: 1rem;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .container main p {
    margin-top: 1.3rem;
    font-size: 18px;
    letter-spacing: 0.01em;
  }
}
.container main .register {
  font-family: 'Poppins', sans-serif;
  padding: 0.7rem 4.7rem;
  color: #674baf;
  background-color: #fff;
  margin-top: 1.5rem;
  font-size: 12px;
  text-decoration: none;
  border-radius: 2rem;
  box-shadow: 0 3px 10px -4px #000;
}
@media (min-width: 768px) {
  .container main .register {
    padding: 0.9rem 4rem;
    font-size: 18px;
  }
}
.container main .register:hover {
  background-color: #e882e8;
  color: #fff;
}
.container footer {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  .container footer {
    justify-content: flex-end;
    margin-top: 1.2rem;
    margin-right: 0.6rem;
  }
}
.container footer .socials {
  display: flex;
}
.container footer .socials > * + * {
  margin-left: 0.75rem;
}
@media (min-width: 768px) {
  .container footer .socials > * + * {
    margin-left: 0.9rem;
  }
}
.container footer .socials .fab {
  color: #fff;
  border-radius: 2rem;
  border: 1px solid #fff;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
@media (min-width: 768px) {
  .container footer .socials .fab {
    font-size: 18px;
    width: 38px;
    height: 38px;
  }
}
.container footer .socials a {
  text-decoration: none;
}
.container footer .socials a:hover > .fab {
  color: #e882e8;
  border-color: #e882e8;
}
